body{
	background: lightblue;
}
header {
	background:lightblue;
	padding:0px 0px;
	font-family: Tahoma;
	font-size: 20px;
	display: flex;
}
ul{
	padding: 0 0;
	margin: 0 1px;
}
li{
	display: inline;
	list-style: none;
	margin: 0 5px;
	font: bold 12px Verdana;
}
#menu{
   background: blue;/*cambio*/
   padding: 0px 0px;
   border-radius: 16px;
}

img{
	display: inline;
	margin: 1em;
	padding: 5px 5px;
	font-family: jokerman;
}

/* ESTILOS PARA MENUS *//*cambio*/
.mainmenu a:hover{
	color: white;
	text-decoration: none;
	}


/* nuevos estilos */

.mainmenu  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .mainmenu a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  .openbtn {
    font-size: 20px;
    background-color:blue;
    color: white;
    padding: 5px 15px;
    border: none;
  }
  
  .openbtn:hover {
    cursor: pointer;
  }
 
  .mainmenu .closebtn {
    position: absolute;
    color:silver;
    top: 0;
    right: 25px;
    font-size: 36px;
  }


  /* ESTILOS PARA FONTAWESOME *//*cambio*/
 .fa-home{
 	color:white;
 	font-size: 18px;
 }  
 .fa-cart-arrow-down{
 	color:white;
 	font-size: 18px;
 }
 .fa-charging-station{
 	color:white;
 	font-size: 18px;
 	 }
 .fa-wpforms{
 	 	color:white;
 	 	font-size: 18px;
 }
